*{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 1000px;
    height: 500px;
    border: 10px solid black;
    margin: auto;
}

.con_wrap{
    background-color: lightgray;
}

.con{
    background-color: aquamarine;
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}